<%= form_with(model: prescription, local: true) do |form| %>
  <% if prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
      <% prescription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :prescription_user_id %>
  </div>

  <div class="field">
    <%= form.label :doctor_id %>
    <%= form.text_field :doctor_id, id: :prescription_doctor_id %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :prescription_notes %>
  </div>

  <div class="field">
    <%= form.label :prescribed_on %>
    <%= form.datetime_select :prescribed_on, id: :prescription_prescribed_on %>
  </div>

  <div class="field">
    <%= form.label :valid_till %>
    <%= form.datetime_select :valid_till, id: :prescription_valid_till %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
