<p id="notice"><%= notice %></p>

<h1>Prescriptions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Doctor</th>
      <th>Notes</th>
      <th>Prescribed on</th>
      <th>Valid till</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prescriptions.each do |prescription| %>
      <tr>
        <td><%= prescription.user.first_name%>&nbsp;<%= prescription.user.last_name%></td>
        <td><%= prescription.doctor.first_name%>&nbsp;<%= prescription.doctor.last_name%></td>
        <td><%= prescription.notes %></td>
        <td><%= prescription.prescribed_on %></td>
        <td><%= prescription.valid_till %></td>
        <td><%= link_to 'Show', prescription %></td>
        <td><%= link_to 'Edit', edit_prescription_path(prescription) %></td>
        <td><%= link_to 'Destroy', prescription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prescription', new_prescription_path %>
