<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @prescription.user %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @prescription.doctor %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @prescription.notes %>
</p>

<p>
  <strong>Prescribed on:</strong>
  <%= @prescription.prescribed_on %>
</p>

<p>
  <strong>Valid till:</strong>
  <%= @prescription.valid_till %>
</p>
<h3>Prescribed Medicines</h3>
<table>
  <thead>
    <th>Notes</th>
  </thead>
  <tbody>
    <% @prescription.prescribed_medicines.each do |pm| %>
  <tr>
    <td><%= pm.notes %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
