<p id="notice"><%= notice %></p>

<h1>User Vital Logs</h1>
<% if @user %>
  <h3>User: <%= @user.first_name %>&nbsp;<%= @user.last_name %></h3>
<% end %>

<table class="pure-table pure-table-bordered">
  <thead>
    <tr class="<%= cycle('pure-table-odd', '') -%>">
      <th>User</th>
      <th>Logged on</th>
      <th>Notes</th>
      <th>Pressue</th>
      <th>Sugar</th>
      <th>Temperature</th>
      <th>Pulse</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_vital_logs.each do |user_vital_log| %>
      <tr class="<%= cycle('pure-table-odd', '') -%>">
        <td><%= user_vital_log.user.first_name %> <%= user_vital_log.user.last_name %></td>
        <td><%= user_vital_log.logged_on %></td>
        <td><%= user_vital_log.notes %></td>
        <td><%= user_vital_log.pressure %></td>
        <td><%= user_vital_log.sugar %></td>
        <td><%= user_vital_log.temperature %></td>
        <td><%= user_vital_log.pulse %></td>
        <td><%= link_to 'Show', user_vital_log , class: 'pure-button  pure-button-primary' %></td>
        <td><%= link_to 'Edit', edit_user_vital_log_path(user_vital_log), class: 'pure-button  button-secondary'  %></td>
        <td><%= link_to 'Destroy', user_vital_log, method: :delete, data: { confirm: 'Are you sure?' }, class: 'pure-button  button-warning'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= link_to 'New User Vital Log', new_user_vital_log_path, class: 'pure-button  button-secondary'  %>

<br>

<% if @user %>
  <h3>Pressure</h3>
  <%= line_chart @user_vital_logs.pluck(:logged_on, :pressure), xtitle: "Time", ytitle: "Pressure" %>
  <h3>Sugar</h3>
  <%= line_chart @user_vital_logs.pluck(:logged_on, :sugar), xtitle: "Time", ytitle: "Sugar" %>
  <h3>Temperature</h3>
  <%= line_chart @user_vital_logs.pluck(:logged_on, :temperature), xtitle: "Time", ytitle: "Temperature" %>
  <h3>Pulse</h3>
  <%= line_chart @user_vital_logs.pluck(:logged_on, :pulse), xtitle: "Time", ytitle: "Pulse" %>
<% else %>
  <h3>Pressure</h3>
  <%= column_chart @user_vital_logs.group(:user).average(:pressure).map{|user, value| [user.first_name + ' ' + user.last_name, value]}, xtitle: "User", ytitle: "Pressure" %>
  <h3>Sugar</h3>
  <%= column_chart @user_vital_logs.group(:user).average(:sugar).map{|user, value| [user.first_name + ' ' + user.last_name, value]}, xtitle: "Time", ytitle: "Sugar" %>
  <h3>Temperature</h3>
  <%= column_chart @user_vital_logs.group(:user).average(:temperature).map{|user, value| [user.first_name + ' ' + user.last_name, value]}, xtitle: "Time", ytitle: "Temperature(degree C)" %>
  <h3>Pulse</h3>
  <%= column_chart @user_vital_logs.group(:user).average(:pulse).map{|user, value| [user.first_name + ' ' + user.last_name, value]}, xtitle: "Time", ytitle: "Pulse(per sec)" %>
<% end %>
