<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="pure-table pure-table-bordered">
  <thead>
    <tr class="<%= cycle('pure-table-odd', '') -%>">
      <th>First name</th>
      <th>Last name</th>
      <th>City</th>
      <th>Username</th>
      <th>Password</th>
      <th>Address</th>
      <th>GCMID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle('pure-table-odd', '') -%>">
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.city %></td>
        <td><%= user.username %></td>
        <td><%= user.password %></td>
        <td><%= user.address %></td>
        <td><%= user.gcmid %></td>
        <td><%= link_to 'Show', user, class: 'pure-button  pure-button-primary'  %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'pure-button  button-secondary'  %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'pure-button  button-warning'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: 'pure-button  button-secondary'  %>
