<p id="notice"><%= notice %></p>

<h1>Doctor Notifications</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Doctor</th>
      <th>Notified on</th>
      <th>Notes</th>
      <th>Severity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctor_notifications.each do |doctor_notification| %>
      <tr>
        <td><%= doctor_notification.title %></td>
        <td><%= doctor_notification.user %></td>
        <td><%= doctor_notification.doctor %></td>
        <td><%= doctor_notification.notified_on %></td>
        <td><%= doctor_notification.notes %></td>
        <td><%= doctor_notification.severity %></td>
        <td><%= link_to 'Show', doctor_notification %></td>
        <td><%= link_to 'Edit', edit_doctor_notification_path(doctor_notification) %></td>
        <td><%= link_to 'Destroy', doctor_notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctor Notification', new_doctor_notification_path %>
