<%= form_with(model: prescribed_medicine, class: 'pure-form pure-form-aligned', local: true) do |form| %>
  <% if prescribed_medicine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prescribed_medicine.errors.count, "error") %> prohibited this prescribed_medicine from being saved:</h2>

      <ul>
      <% prescribed_medicine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @medicine %>
    <div class="field pure-control-group">Medicine: <%= @medicine.name%></div>
    <%= form.hidden_field :medicine_id, :value => @medicine.id%>
  <% else %>
    <div class="field pure-control-group">
      <%= form.label :medicine_id %>
      <%= form.select :medicine_id, options_for_select(@medicines.map{ |m| [m.name, m.id, {'name'=>m.name}] }, selected_key = form.object.medicine_id) %>
    </div>
  <% end %>

  <% if @prescription %>
    <div class="field pure-control-group">Prescription: <%= @prescription.notes %></div>
    <%= form.hidden_field :prescription_id, :value => @prescription.id%>
  <% else %>
    <div class="field pure-control-group">
      <%= form.label :prescription_id %>
      <%= form.select :prescription_id, options_for_select(@prescriptions.map{ |pr| [pr.notes, pr.id, {'notes'=>pr.notes}] }, selected_key = form.object.prescription_id) %>
    </div>
  <% end %>
  <div class="field pure-control-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :prescribed_medicine_notes %>
  </div>

  <div class="field pure-control-group">
    <%= form.label :before_breakfast %>
    <%= form.check_box :before_breakfast, id: :prescribed_medicine_before_breakfast %>
  </div>

  <div class="field pure-control-group">
    <%= form.label :after_breakfast %>
    <%= form.check_box :after_breakfast, id: :prescribed_medicine_after_breakfast %>
  </div>

  <div class="field pure-control-group">
    <%= form.label :before_lunch %>
    <%= form.check_box :before_lunch, id: :prescribed_medicine_before_lunch %>
  </div>

  <div class="field pure-control-group">
    <%= form.label :after_lunch %>
    <%= form.check_box :after_lunch, id: :prescribed_medicine_after_lunch %>
  </div>

  <div class="field pure-control-group">
    <%= form.label :before_dinner %>
    <%= form.check_box :before_dinner, id: :prescribed_medicine_before_dinner %>
  </div>

  <div class="field pure-control-group">
    <%= form.label :after_dinner %>
    <%= form.check_box :after_dinner, id: :prescribed_medicine_after_dinner %>
  </div>

  <div class="field pure-control-group">
    <%= form.label :available_count %>
    <%= form.text_field :available_count, id: :prescribed_medicine_available_count %>
  </div>

  <div class="actions">
    <%= form.submit 'submit', :class => 'pure-button'%>
  </div>
<% end %>
