<p id="notice"><%= notice %></p>

<h1>Prescribed Medicines</h1>

<table>
  <thead>
    <tr>
      <th>Medicine</th>
      <th>Prescription</th>
      <th>Notes</th>
      <th>Before breakfast</th>
      <th>After breakfast</th>
      <th>Before lunch</th>
      <th>After lunch</th>
      <th>Before dinner</th>
      <th>After dinner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prescribed_medicines.each do |prescribed_medicine| %>
      <tr>
        <td><%= prescribed_medicine.medicine %></td>
        <td><%= prescribed_medicine.prescription %></td>
        <td><%= prescribed_medicine.notes %></td>
        <td><%= prescribed_medicine.before_breakfast %></td>
        <td><%= prescribed_medicine.after_breakfast %></td>
        <td><%= prescribed_medicine.before_lunch %></td>
        <td><%= prescribed_medicine.after_lunch %></td>
        <td><%= prescribed_medicine.before_dinner %></td>
        <td><%= prescribed_medicine.after_dinner %></td>
        <td><%= link_to 'Show', prescribed_medicine %></td>
        <td><%= link_to 'Edit', edit_prescribed_medicine_path(prescribed_medicine) %></td>
        <td><%= link_to 'Destroy', prescribed_medicine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prescribed Medicine', new_prescribed_medicine_path %>
