<p id="notice"><%= notice %></p>

<h1>Medicine Intake Logs</h1>
<% if @user %>
  <h3>User: <%= @user.first_name %>&nbsp;<%= @user.last_name %></h3>
<% end %>

<table class="pure-table pure-table-bordered">
  <thead>
    <tr class="<%= cycle('pure-table-odd', '') -%>">
      <th>Prescribed medicine</th>
      <th>User</th>
      <th>Logged on</th>
      <th>Notes</th>
      <th>Part of day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicine_intake_logs.each do |medicine_intake_log| %>
      <tr class="<%= cycle('pure-table-odd', '') -%>">
        <td><%= medicine_intake_log.prescribed_medicine.medicine.name %> for: <%= medicine_intake_log.prescribed_medicine.prescription.notes %></td>
        <td><%= medicine_intake_log.user.first_name %>&nbsp;<%= medicine_intake_log.user.last_name %></td>
        <td><%= medicine_intake_log.logged_on %></td>
        <td><%= medicine_intake_log.notes %></td>
        <td><%= medicine_intake_log.part_of_day %></td>
        <td><%= link_to 'Show', medicine_intake_log, class: 'pure-button  pure-button-primary'  %></td>
        <td><%= link_to 'Edit', edit_medicine_intake_log_path(medicine_intake_log), class: 'pure-button  button-secondary' %></td>
        <td><%= link_to 'Destroy', medicine_intake_log, method: :delete, data: { confirm: 'Are you sure?' }, class: 'pure-button  button-warning'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medicine Intake Log', new_medicine_intake_log_path, class: 'pure-button  button-secondary'  %>
