<p id="notice"><%= notice %></p>

<p>
  <strong>Prescribed medicine:</strong>
  <%= @medicine_intake_log.prescribed_medicine.medicine.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @medicine_intake_log.user.first_name %> <%= @medicine_intake_log.user.last_name %>
</p>

<p>
  <strong>Logged on:</strong>
  <%= @medicine_intake_log.logged_on %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @medicine_intake_log.notes %>
</p>

<p>
  <strong>Part of day:</strong>
  <%= @medicine_intake_log.part_of_day %>
</p>

<%= link_to 'Edit', edit_medicine_intake_log_path(@medicine_intake_log), class: 'pure-button  pure-button-primary'  %> |
<%= link_to 'Back', medicine_intake_logs_path, class: 'pure-button  button-secondary'  %>
