<%= form_with(model: in_patient, class: 'pure-form pure-form-aligned', local: true) do |form| %>
  <% if in_patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(in_patient.errors.count, "error") %> prohibited this in_patient from being saved:</h2>

      <ul>
      <% in_patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @doctor %>
    <div class="field pure-control-group">Doctor: <%= @doctor.first_name %>&nbsp;<%= @doctor.last_name %></div>
    <%= form.hidden_field :doctor_id, :value => @doctor.id%>
  <% else %>
    <div class="field pure-control-group">
      <%= form.label :doctor_id %>
      <%= form.select :doctor_id, options_for_select(@doctors.map{ |d| [d.first_name+' '+d.last_name, d.id, {'username'=>d.username}] }, selected_key = form.object.doctor_id) %>
    </div>
  <% end %>

  <% if @user %>
    <div class="field pure-control-group">User: <%= @user.first_name %>&nbsp;<%= @user.last_name %></div>
    <%= form.hidden_field :user_id, :value => @user.id%>
  <% else %>
    <div class="field pure-control-group">
      <%= form.label :user_id %>
      <%= form.select :user_id, options_for_select(@users.map{ |u| [u.first_name+' '+u.last_name, u.id, {'username'=>u.username}] }, selected_key = form.object.user_id) %>
    </div>
  <% end %>
  <div class="field pure-control-group">
    <%= form.label :visting_since %>
    <%= form.datetime_select :visting_since, id: :in_patient_visting_since %>
  </div>

  <div class="field pure-control-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :in_patient_notes %>
  </div>

  <div class="field pure-control-group">
    <%= form.label :status %>
    <%= form.text_field :status, id: :in_patient_status %>
  </div>

  <div class="field pure-control-group">
    <%= form.label :for_practice %>
    <%= form.text_field :for_practice, id: :in_patient_for_practice %>
  </div>

  <div class="actions">
    <%= form.submit 'submit', :class => 'pure-button'%>
  </div>
<% end %>
