<p id="notice"><%= notice %></p>

<h1>In Patients</h1>
<% if @user %>
  <h3>User: <%= @user.first_name %>&nbsp;<%= @user.last_name %></h3>
<% end %>
<% if @doctor %>
  <h3>Doctor: <%= @doctor.first_name %>&nbsp;<%= @doctor.last_name %></h3>
<% end %>

<table class="pure-table pure-table-bordered">
  <thead>
    <tr class="<%= cycle('pure-table-odd', '') -%>">
      <th>User</th>
      <th>Doctor</th>
      <th>Visting since</th>
      <th>Notes</th>
      <th>Status</th>
      <th>For practice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @in_patients.each do |in_patient| %>
      <tr class="<%= cycle('pure-table-odd', '') -%>">
        <td><%= in_patient.user.first_name %>&nbsp;<%= in_patient.user.last_name %></td>
        <td><%= in_patient.doctor.first_name %>&nbsp;<%= in_patient.doctor.last_name %></td>
        <td><%= in_patient.visting_since %></td>
        <td><%= in_patient.notes %></td>
        <td><%= in_patient.status %></td>
        <td><%= in_patient.for_practice %></td>
        <td><%= link_to 'Show', in_patient, class: 'pure-button pure-button-primary'  %></td>
        <td><%= link_to 'Edit', edit_in_patient_path(in_patient), class: 'pure-button button-secondary'  %></td>
        <td><%= link_to 'Destroy', in_patient, method: :delete, data: { confirm: 'Are you sure?' }, class: 'pure-button  button-warning'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New In Patient', new_in_patient_path, class: 'pure-button  button-secondary'  %>
