<p id="notice"><%= notice %></p>

<h1>Doctor Appointments</h1>
<% if @user %>
  <h3>User: <%= @user.first_name %>&nbsp;<%= @user.last_name %></h3>
<% end %>
<% if @doctor %>
  <h3>Doctor: <%= @doctor.first_name %>&nbsp;<%= @doctor.last_name %></h3>
<% end %>
<table class="pure-table pure-table-bordered">
  <thead>
    <tr class="<%= cycle('pure-table-odd', '') -%>">
      <th>Description</th>
      <th>From</th>
      <th>To</th>
      <th>Doctor</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctor_appointments.each do |doctor_appointment| %>
      <tr class="<%= cycle('pure-table-odd', '') -%>">
        <td><%= doctor_appointment.description %></td>
        <td><%= doctor_appointment.from %></td>
        <td><%= doctor_appointment.to %></td>
        <td><%= doctor_appointment.doctor.first_name %>&nbsp;<%= doctor_appointment.doctor.last_name %></td>
        <td><%= doctor_appointment.user.first_name %>&nbsp;<%= doctor_appointment.user.last_name %></td>
        <td><%= link_to 'Show', doctor_appointment, class: 'pure-button  pure-button-primary' %></td>
        <td><%= link_to 'Edit', edit_doctor_appointment_path(doctor_appointment), class: 'pure-button  button-secondary'  %></td>
        <td><%= link_to 'Destroy', doctor_appointment, method: :delete, data: { confirm: 'Are you sure?' } , class: 'pure-button button-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctor Appointment', new_doctor_appointment_path, class: 'pure-button  button-secondary'  %>
